@use '../utils' as *;

  /*
 ::::::::::::::::::::::::::
  CASE AREA CSS
 ::::::::::::::::::::::::::
 */

 .case1 {
  position: relative;

  .case1-slider {
    .single-slider {
      position: relative;
      margin: 0px 10px;

      .image {
        overflow: hidden;
        border-radius: 8px;
        img {
          width: 100%;
          transition: all .4s;
        }
      }

      &:hover {
        .image {
          img {
            transition: all .4s;
            transform: scale(1.1) rotate(2deg);
          }
        }
        .heading-area {
          h4 {
            a {
              transition: all .4s;
              color: #FA7D3C;
            }
          }
        }
      }

      .heading-area {
        border-radius: 8px;
        background: #FFF;
        padding: 24px;
        margin: 0px 24px;
        position: absolute;
        bottom: 30px;
        width: 100%;
        width: 87%;
        p {
          color: var(--SEO-Marketing-Paragraph-Color, #5D6369);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: 16px; /* 100% */
          text-transform: uppercase;
          padding-bottom: 10px;
        }
        h4 {
          a {
            display: inline-block;
            color: var(--SEO-Marketing-Text-Color, #0B0314);
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 20px; /* 100% */
            transition: all .4s;
          }
        }
        .arrow-right {
          display: inline-block;
          height: 48px;
          width: 48px;
          line-height: 48px;
          text-align: center;
          color: #fff;
          font-size: 18px;
          border-radius: 50%;
          position: absolute;
          top: -20px;
          right: -20px;
          transform: rotate(-45deg);
          background: var(--SEO-Marketing-Gradient-Color, linear-gradient(90deg, #FB3F52 0%, #FA7D3C 100%));
        }
      }
    }  
  }

  .case1-buttons {
    text-align: end;
    @media #{$md} {
      text-align: start;
      margin-top: 20px;
    }

    @media #{$xs} {
      text-align: start;
      margin-top: 20px;
    }

    button {
      color: #3B32F6;
      font-size: 20px;
      height: 56px;
      width: 56px;
      line-height: 56px;
      text-align: center;
      border-radius: 50%;
      position: relative;
      border: none;
      margin-left: 5px;

      i {
        position: relative;
        z-index: 4;
      }

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: #fff;
        border-radius: 50%;
        z-index: 1;
        transition: all .4s;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background: linear-gradient(90deg, #3B32F6 0%, #49A6FF 100%);
        border-radius: 50%;
        z-index: 1;
        transition: all .4s;
        transform: scale(0.4);
        opacity: 0;
      }

      &:hover {
        color: #fff;
        transition: all .4s;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          background: linear-gradient(90deg, #3B32F6 0%, #49A6FF 100%);
          border-radius: 50%;
          z-index: 1;
          transition: all .4s;
          transform: scale(1);
          opacity: 1;
        }
      }

    }
  }
 }



 // === case style 3 ===

.case3 {
  position: relative;

  .blog-box {
      margin-top: 30px;
      transition: all .4s;
      .image {
          img {
              width: 100%;
              transition: all .4s;
              border-radius: 5px 5px 0px 0px;
              background: url(<path-to-image>) lightgray 50% / cover no-repeat;
          }
      }
      .heading1 {
          border-radius: 0px 0px 5px 5px;
          background: #FFF;
          padding: 28px;
          transition: all .4s;
          .date {
              color: var(--SEO-Marketing-Paragraph-Color, #5D6369);
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 16px; /* 100% */
              text-transform: uppercase;
              display: inline-block;

              img {
                  margin-top: -5px;
                  margin-right: 5px;
              }
          }
          h5 {
              a {
                  padding-top: 16px;
              }
          }
      }

      &:hover {
          transition: all .4s;
          transform: translateY(-10px);
          .image {
              img {
                  width: 100%;
                  transition: all .4s;
                  border-radius: 5px 5px 0px 0px;
                  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
              }
          }
          .heading1 {
              border-radius: 0px 0px 5px 5px;
              transition: all .4s;
          }
      }
  }

  &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: url(../img/bg/blog1-bg.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -3;
  }

  .shape1 {
      position: absolute;
      bottom: 40%;
      right: 60px;
      
      @media #{$md} {
          display: none;
      }

      @media #{$xs} {
          display: none;
      }
  }
}

// === case style 3 ===

// === case page style ===
.case-page {
  .single-slider {
    position: relative;
    margin: 0px 10px;
    transition: all .4s;
    margin-bottom: 30px;

    .image {
      border-radius: 8px;
      overflow: hidden;
      img {
        width: 100%;
        transition: all .4s;
      }
    }

    .heading-area {
      border-radius: 8px;
      background: #FFF;
      padding: 24px;
      margin: 0px 24px;
      position: absolute;
      bottom: 30px;
      width: 100%;
      width: 87%;
      p {
        color: var(--SEO-Marketing-Paragraph-Color, #5D6369);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 100% */
        text-transform: uppercase;
        padding-bottom: 10px;
      }
      h4 {
        a {
          display: inline-block;
          color: var(--SEO-Marketing-Text-Color, #0B0314);
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px; /* 100% */
        }
      }
      .arrow-right {
        display: inline-block;
        height: 48px;
        width: 48px;
        line-height: 48px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        border-radius: 50%;
        position: absolute;
        top: -20px;
        right: -20px;
        transform: rotate(-45deg);
        background: var(--SEO-Marketing-Gradient-Color, linear-gradient(90deg, #FB3F52 0%, #FA7D3C 100%));
      }
    }

    &:hover {
      transform: translateY(-10px);

      .image {
        img {
          transform: rotate(2deg) scale(1.1); 
          transition: all .4s;
        }
      }
    }
  }  
}

// === case page style ===

 
/*
 ::::::::::::::::::::::::::
  CASE AREA CSS
 ::::::::::::::::::::::::::
 */