@use '../utils' as *;

  /*
 ::::::::::::::::::::::::::
  OTHERS AREA CSS
 ::::::::::::::::::::::::::
 */

// === error area style ===

.error-area {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .shape {
    position: absolute;
    top: 60px;
    right: 100px;

    @media #{$md} {
      display: none;
    }

    @media #{$xs} {
      display: none;
    }
  }
}

// === error area style ===

  /*
 ::::::::::::::::::::::::::
  OTHERS AREA CSS
 ::::::::::::::::::::::::::
 */