@use '../utils' as *;

  /*
 ::::::::::::::::::::::::::
  TEAM AREA CSS
 ::::::::::::::::::::::::::
 */

//---  team sytle 1 ---

.team1 {
  .team-box {
      margin-top: 30px;
      position: relative;

      .image {
        overflow: hidden;
        border-radius: 6px;
        img {
          width: 100%;
          transition: all .4s;
        }
      }

      .heading-area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 24px;
        border-radius: 8px;
        border-radius: 6px;
        background: #FFF;
        box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.09);
        position: relative;
        z-index: 2;
        margin: -53px 24px 0px 24px;

        .heading1 {
          h4 {
            a {
              padding-bottom: 10px;
            }
          }
        }
        .icon-area {
          position: relative;
          .icon {
            display: inline-block;
            height: 50px;
            width: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 50%;
            background: var(--SEO-Marketing-Gradient-Color, linear-gradient(90deg, #FB3F52 0%, #FA7D3C 100%));
          }
          .icon-list {
            position: absolute;
            bottom: 100px;
            right: 0;
            transform: rotateX(60deg) translateY(160px);
            opacity: 0;
            transition: all .4s;
            li {
              a {
                display: inline-block;
                height: 44px;
                width: 44px;
                line-height: 44px;
                text-align: center;
                border-radius: 50%;
                color: #0B0314;
                position: relative;
                margin: 5px 0px;
                font-size: 18px;
                transition: all .4s;

                i {
                  position: relative;
                  z-index: 9;
                }

                &::after {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 100%;
                  border-radius: 50%;
                  transition: all .4s;
                  background: var(--SEO-Marketing-Gradient-Color, linear-gradient(90deg, #FB3F52 0%, #FA7D3C 100%));
                  opacity: 0;
                  transform: scale(0.4);
                }

                &::before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  height: 100%;
                  width: 100%;
                  border-radius: 50%;
                  background: #fff;
                  transition: all .4s;
                }

                &:hover {
                  transition: all .4s;
                  color: #fff;

                  &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    border-radius: 50%;
                    transition: all .4s;
                    background: var(--SEO-Marketing-Gradient-Color, linear-gradient(90deg, #FB3F52 0%, #FA7D3C 100%));
                    opacity: 1;
                    transform: scale(1);
                  }
                }

              }
            }
          }
        }
      }

      &:hover {
        transition: all .4s;
        .heading-area {
          .icon-area {
            .icon-list {
              transform: rotateX(0deg) translateY(0px);
              opacity: 1;
              transition: all .4s;
            }
          }
        }
      }
  }
}

//---  team sytle 1 ---

   /*
 ::::::::::::::::::::::::::
  TEAM AREA CSS
 ::::::::::::::::::::::::::
 */